<div class="container view">
    <h1>What is useful</h1>

    <p>

        The useful laws, principles, or theorems are those that . . . <br/>
        relate the variables in the discipline, subject, topic<br/>
        relate the variables in examples from the same problem class and type<br/>
        relate the variables in the problem's givens, situation and solution<br/><br/>
        Laws, principles or theorems are statements expressing relationships
        between certain variables.<br/><br/>
        These relationships are then used to solve the problem, by eliminating<br/>
        the unwanted variables, and solving for the solution variable(s).

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_16">Next</a></button>


</div>


