<div class="container view">
    <h1>What do we need to do</h1>
    <p>
        To relate our problem to useful laws we must . . . <br/><br/>
        identify which concepts the problem involves <br/>
        identify which concepts the solution involves<br/>
        identify which variables symbolize these concepts<br/>
        identify which laws relate these variables (concepts)<br/>
        determine how the variables (concepts) are related by each law<br/>
        determine how to extract a solution from these statements<br/><br/>
        Try to identify and determine these elements, write them down on a piece of paper
        then continue.
    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_4">Next</a></button>


</div>