<div class="container view">
    <h1>What's a good solution ?</h1>

    <p>

        Ideally, a useful set of laws, principles or theorems has some<br/>
        key properties.  Ideally it . . . <br/><br/>
        enables us to derive insights about the problem<br/>
        enables us to derive insights about the nature of solutions<br/>
        enables us to reduce the possibilities in the problem<br/>
        enables us to find solutions from the problem's givens

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_19">Next</a></button>


</div>


