<div class="container view">
    <h1>Let's relate concepts with laws</h1>

    <p>

        Select which laws relate these concepts <br/><br/>
        laws relating the static variables<br/>
        laws relating the kinematic variables<br/>
        laws relating the dynamical variables<br/>
        laws relating the geometric variables<br/>
        laws relating the statistical variables<br/>
        etc

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_9">Next</a></button>


</div>


