<div class="container view">
    <h1>Main objectives</h1>
    <p>

        So it makes sense to use these statements as our plan's main objectives:<br/><br/>
        State which concepts our problem involves<br/>
        State which concepts the solutions involves<br/>
        Select which laws relate these variables (concepts)<br/>
        Express how the variables are related by each law<br/>
        Find how to extract a solution from these statements<br/><br/>
        Try making these objectives more specific, write it down, then continue

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_5">Next</a></button>


</div>