<div class="container view">
    <h1>Our verification checklist</h1>

    <p>

        We thus have our checklist to verify the usefulness of the laws <br/>
        Our set of laws, principles or theorems is useful if . . .<br/><br/>
        it enables us to derive new insights about the problem<br/>
        it enables us to derive new insights about the nature of solutions<br/>
        it enables us to reduce the possibilities in the problem<br/>
        it enables us to find solutions from the problem's givens

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="done">Finish</a></button>


</div>


