<div class="container view">
    <h1>Let's use strategy</h1>

    <p>

        Good strategies to relate a problem to useful laws are to find <br/>
        close concrete example problems, from the subject's topic<br/><br/>
        Strategy: list the variables, laws or theorems used in the topic<br/>
        Strategy: list the variables, laws or theorems used in the examples<br/>
        Strategy: select variables, laws or theorems applicable to the problem<br/>
        Strategy: select variables, laws or theorems applicable to the solution<br/>

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_13">Next</a></button>


</div>


