<div class="container view">
    <h1>What are the variables</h1>

    <p>

        The relevant variables as those important in the . . . <br/>
        problem's class and type<br/>
        problem's discipline, subject, topic<br/>
        problem's given data, assumptions, conditions, premises<br/>
        problem's definitions, situation and meaning<br/>
        problem's solution sought

    </p>


    <button type="button" class="btn btn-primary"><a ui-sref="question_15">Next</a></button>


</div>


